:root {
  --star-color: #b1b0ae;
  --star-background: #54442b;
}

.topnav {
  background-color: #3e66a5;
  overflow: hidden;
  margin-top: 0px !important;
  border-radius: 5px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eef8fc;
  color: black;
}

.topnav a.active {
  background-color: #8acdea;
  color: black;
}

form {
  background-color: #f2f2f2;
  width: 100%;
  height: 1%;
  border-radius: 10px;
  border-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 10%;
}

::placeholder {
  color: black;
  opacity: 0.7;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.container {
  width: auto;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16px 0.15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 50px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.map {
  object-fit: fill;
  border-radius: 20px;
}

/*This method for static stars in html and css was found at https://css-tricks.com/five-methods-for-five-star-ratings/ */
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 150%;
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "\2605\2605\2605\2605\2605";
  letter-spacing: 0.5%;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 600%;
  padding: 10%;
  text-align: center;
}

.column {
  float: left;
}

.row {
  height: 45%;
  padding-top: 5px;
  padding-bottom: 5%;
  text-align: center;
}

.block-text {
  color: #fff;
  font-size: 200%;
  padding: 5%;
}

.left, .right {
  width: 50%;
}

/* Clear the floats after the columns */
.clear {
content: "";
display: table;
clear: both;
}

form {
  background-color: #fff;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.has-search, .form-control {
  padding-left: 2.375rem;
}

.has-search, .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  color: #aaa;
}

.foot {
  border-radius: 1%;
}
