:root {
  --star-color: #b1b0ae;
  --star-background: #54442b;
}

/* Navigation bar styling */
.topnav {
  background-color: #3e66a5;
  overflow: hidden;
  margin-top: 0px !important;
  border-radius: 5px;
}

/* Individual element nav bar styling */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Individual element when mouse is hovering nav bar styling */
.topnav a:hover {
  background-color: #eef8fc;
  color: black;
}

/* Individual element when marked as active nav bar styling */
.topnav a.active {
  background-color: #8acdea;
  color: black;
}

/* Custom styling for inputs */
input {
  all: unset;
  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 10%;
}

/* Custom styling for placeholders on forms */
::placeholder {
  color: black;
  opacity: 0.7;
}

/* Custom styling for button */
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

/* Custom styling for container class */
.container {
  width: auto;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16px 0.15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 50px;
}

/* available fonts for body */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  /* border-radius to round the edges and make it look nice */
  width: auto;
  height: auto;
  object-fit: fill;
  max-width: 100%;
  /* without max-width the image would create side-scrolling issues */
}

/* Custom styling for map class */
.map {
  object-fit: fill;
  border-radius: 20px;
}

/*This method for static stars in html and css was found at https://css-tricks.com/five-methods-for-five-star-ratings/ */
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 150%;
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "\2605\2605\2605\2605\2605";
  letter-spacing: 0.5%;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Custom styling for headings */
h1 {
  font-size: 600%;
  padding: 10%;
  text-align: center;
}

/* Custom column class */
.column {
  float: left;
}

/* Custom row class */
.row {
  height: 45%;
  padding-top: 5px;
  padding-bottom: 5%;
  text-align: center;
}

/* Custom block-text class */
.block-text {
  color: #fff;
  font-size: 200%;
  padding: 5%;
}

/* Two column style */
.left, .right {
  width: 50%;
}

/* Clear the floats after the columns */
.clear {
content: "";
display: table;
clear: both;
}

/* Custom styling for forms, */
form {
  background-color: #f2f2f2;
  border-radius: 10px;
  border-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 44px;
}

/* Custom form submit for submit button */ 
.form-submit {
  background: #f2f2f2;
  border-color: black;
  display: flex;
  border-radius: 5px;
  margin-top: 1%;
  margin-right: 20%;
  width: auto;
  height: 44px;
  align-items: center;
  cursor: pointer;
}

/* Custom footer styling */
.foot {
  border-radius: 1%;
}

