a {
    color: #000000;
    text-decoration: none;
}

table {
    width: auto;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 50px;
    border-collapse: collapse;
}

th {
    padding: 15px;
    text-align:center;
    font-size: 200%;
    border-bottom: 1px solid #54442B;
}

td {
    padding: 15px;
    text-align:center;
    font-size: 16px;
    border-bottom: 1px solid #54442B;
}

#map {
    height: 200px;
}
