.about-rating {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.rating-header {
  margin: auto;
  font-size: 200%;
  font-weight: bold;
}

.stars-container {
  margin: auto;
  flex-basis: 33.33%;
}

#object_map {
  border-radius: 20px;
  height: 400px;
}
