.about-rating {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.rating-header {
  margin: auto;
  font-size: 200%;
  font-weight: bold;
}

.stars-container {
  margin: auto;
  flex-basis: 33.33%;
}

.column {
    float: left;
}

.left, .right {
    width: 50%;
}

/* Clear the floats after the columns */
.clear {
  content: "";
  display: table;
  clear: both;
}
